.card-deck-container {
    width: 100%;
    max-width: 1200px;
    position: relative;
    border-radius: 2px;
    padding: 10px 10px 30px;
    margin: 10px 10px 10px 10px;
    background-color: #f5f5f5;
  }
  
  .card-item {
    padding: 3px 3px 3px 3px;
  }