.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.flex-spacer {
  flex-grow: 1;
}