<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-flat-button class="navbar-button" routerLink="/">
    <!-- <span style="color: #1976d2;"> -->
    <span>
      Into the <span style="font-weight: 600;">graph</span>
    </span>
  </button>

  <!-- <a mat-button class="navbar-button" routerLink="/" aria-label="Explore datasets"> -->
  <a mat-button class="navbar-button" href="/" aria-label="Explore datasets">
    <mat-icon mat-list-icon>explore</mat-icon>
    Explore datasets
  </a>
  <a mat-button class="navbar-button" href="/sparql" aria-label="YASGUI SPARQL">
    <mat-icon mat-list-icon>share</mat-icon>
    Run SPARQL queries
  </a>
  <!-- TODO: Change this -->
  <!-- <a mat-button class="navbar-button" href="/describe?uri=http://identifiers.org/uniprot/O00222" aria-label="Describe URI"> -->
  <a mat-button class="navbar-button" href="/describe?uri=http:%2F%2Fbio2rdf.org%2Fdrugbank_resource:f9e3bfa310df6a9054278bc8f2cc8c8d" aria-label="Describe URI">
    <mat-icon mat-list-icon>format_list_bulleted</mat-icon>
    Describe URI
  </a>
  <div class="flex-spacer"></div>
  <form class="searchForm" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-icon mat-list-icon style="vertical-align: middle;">search</mat-icon>
      <mat-form-field>
        <input matInput placeholder="Search URI" formControlName="SearchText">
      </mat-form-field>
    </div>
  </form>  
  <a mat-button class="navbar-button" href="https://github.com/MaastrichtU-IDS/into-the-graph" target="_blank" aria-label="Source on GitHub">
    <mat-icon mat-list-icon>code</mat-icon>
    Source on GitHub
  </a>
</mat-toolbar>


  <!-- Dropdown menu
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon mat-list-icon>more_horiz</mat-icon>
    More
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item aria-label="Contact">
      <a href="contact">
        <mat-icon mat-list-icon>email</mat-icon>
        <span mat-h1>Contact</span>
      </a>
    </button>
  </mat-menu> -->