<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item (click)="datasetsInfo.navigateTo('')">
        <mat-icon mat-list-icon>home</mat-icon>
        <h4 mat-line>Datasets overview</h4>
      </mat-list-item>
      <!-- <mat-divider></mat-divider> -->
      <!-- <md-input #myInput placeholder="Item name..." (input)="filterItem(myInput.value)"></md-input> -->
      <mat-form-field style="padding: 0 16px;">
        <input matInput (keyup)="applyFilterNav($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <mat-list-item *ngFor="let dataset of datasetsInfo.arrayDatasetsNav" (click)="datasetsInfo.navigateTo(dataset)">
        <h4 mat-line>{{ dataset }}</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{datasetsInfo.datasetSelected?(datasetsInfo.datasetSelected.source.value):"rdf-graph-explorer" }}</span>
    </mat-toolbar>
    <!-- To be able to put the content in <app-main-nav> -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
