<mat-toolbar color="primary" class="mat-elevation-z6">
  <a mat-button routerLink="/" aria-label="RDF Graph Explorer">
    <!-- <img class="nav-aphasia-logo"
          src="/assets/images/logo_AphasiaHelp.svg"
          alt=""> -->
  </a>
  <a mat-button routerLink="/" aria-label="Explore datasets">
    <mat-icon mat-list-icon>explore</mat-icon>
    Explore datasets
  </a>
  <a mat-button routerLink="/sparql" aria-label="YASGUI SPARQL">
    <mat-icon mat-list-icon>share</mat-icon>
    <span mat-h1>SPARQL</span>
  </a>
  <!-- <div class="flex-spacer"></div> -->
  <a mat-button routerLink="/describe" [queryParams]="{uri:'http://identifiers.org/uniprot/O00222'}" aria-label="Describe URI">
    <mat-icon mat-list-icon>search</mat-icon>
    Describe URI
  </a>
</mat-toolbar>
<ng-content></ng-content>


  <!-- Dropdown menu
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon mat-list-icon>more_horiz</mat-icon>
    More
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item aria-label="Contact">
      <a href="contact">
        <mat-icon mat-list-icon>email</mat-icon>
        <span mat-h1>Contact</span>
      </a>
    </button>
  </mat-menu> -->