<!-- NavBars defined here -->
<mat-toolbar color="primary">
  <!--button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button-->
  <span class="topNavTitle"> {{ datasetId || "rdf-graph-explorer" }} </span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <!-- <app-nav></app-nav> doesn't work with mat-sidenav, so we need to put the nav here -->
  <mat-sidenav class="sidenav"
    mode="side"
    opened>
  <mat-toolbar>Menu</mat-toolbar>
  <mat-nav-list>
    <a mat-list-item href="#">Link 1</a>
    <a mat-list-item href="#">Link 2</a>
    <a mat-list-item href="#">Link 3</a>
  </mat-nav-list>
</mat-sidenav>

  <mat-sidenav-content>
    <section class="mat-typography">
      <!-- Main component -->
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>