<!-- NavBars defined here -->
<mat-toolbar color="primary">
  <!--button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button-->
  <span class="topNavTitle"> {{datasetsInfo.datasetSelected?(datasetsInfo.datasetSelected.source.value):"rdf-graph-explorer" }} </span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <!-- <app-nav></app-nav> doesn't work with mat-sidenav, so we need to put the nav here -->
  <mat-sidenav class="sidenav"
    mode="side"
    opened>
  <mat-nav-list>
    <mat-list-item (click)="navigateToDataset('')">
      <mat-icon mat-list-icon>home</mat-icon>
      <h4 mat-line>Datasets overview</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let dataset of datasetsInfo.datasets" (click)="navigateToDataset(dataset.source.value)">
      <h4 mat-line>{{ dataset.source.value }}</h4>
    </mat-list-item>
  </mat-nav-list>
</mat-sidenav>

  <mat-sidenav-content>
    <section class="mat-typography">
      <!-- Main component -->
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>