/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Global background
body {
    background: #fafafa;
}

// TODO: fix this to have dynamic margin
.mainLayout {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

// Custom font
@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Open Sans'
);
@include angular-material-typography($custom-typography);